<div class="container">
	<div class="game-messages col-md-6 col-md-offset-3">
		You are the <strong><%= current_player.id == @game.white_player_id ? 'White' : 'Black' %></strong> Player. || Current Turn: <strong><%= Player.find(@game.turn).email %></strong>
		<%= button_tag 'Leave Game', class: 'btn btn-danger btn-sm pull-right', data: { toggle: 'modal', target: '#leaveGameConfirmation'} %>
	</div>
</div>

<div id='chessboard' class="clearfix">
	<%= hidden_field :game_id, '', name: nil, id: nil, data: { game_id: @game.id } %>
<% (1..8).each do |x| %>
	<div class='board-row'> 
	<% (1..8).each do |y| %>
		<%= content_tag :div, '', class: 'chessboard-space', data: { x_coordinate: x, y_coordinate: y } do %>
			<% @pieces.each do |piece| %>
		  	<% if piece.x_coordinate == x && piece.y_coordinate == y %>
		  		<%= content_tag :div, '', class: "movable-chess-piece #{piece.color}-#{piece.type.downcase}", data: { id: piece.id, type: piece.type } %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	</div>
<% end %>
</div>

<%= render 'leave_game_confirmation_modal' %>
<%= render 'pieces/promotion_modal' %>
