<div class="container">
	<div class="game-messages well col-lg-4 col-lg-offset-3">
		<%= "Current Turn: #{Player.find(@game.turn).email}" %>
	</div>

	<div class="game-actions col-lg-1 col-lg-offset-1">
		<%= button_tag 'Leave Game', class: 'btn btn-warning btn-lg', data: { toggle: 'modal', target: '#leaveGameConfirmation'} %>
	</div>
</div>

<div id='chessboard' class="clearfix">
	<%= hidden_field :game_id, '', name: nil, id: nil, data: { game_id: @game.id } %>
<% (1..8).each do |x| %>
	<div class='board-row'> 
	<% (1..8).each do |y| %>
		<%= content_tag :div, '', class: 'chessboard-space', data: { x_coordinate: x, y_coordinate: y } do %>
			<% @pieces.each do |piece| %>
		  	<% if piece.x_coordinate == x && piece.y_coordinate == y %>
		  		<%= content_tag :div, '', class: "movable-chess-piece #{piece.color}-#{piece.type.downcase}", data: { id: piece.id, type: piece.type } %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	</div>
<% end %>
</div>

<%= render 'leave_game_confirmation' %>
<%= render 'promotion_modal' %>
