<div class="container">
	<div class="game-messages col-md-6 col-md-offset-3">
		You are the <strong><%= current_player.id == @game.white_player_id ? 'White' : 'Black' %></strong> Player. || Current Turn: <strong><%= show_player(@game.turn) %></strong>
		<%= button_tag 'Leave Game', class: 'btn btn-danger btn-sm pull-right', data: { toggle: 'modal', target: '#leaveGameConfirmation'} %>
	</div>
</div>

<div id="chessboard" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 no-padding">
	<%= hidden_field :game_id, '', name: nil, id: nil, data: { game_id: @game.id } %>
	<% (1..8).reverse_each do |y| %>
		<div class='board-row col-xs-12 no-padding'> 
			<% (1..8).each do |x| %>
				<%= content_tag :div, '', class: 'board-space', data: { x_coordinate: x, y_coordinate: y } do %>
					<% @pieces.each do |piece| %>
					  <% if piece.x_coordinate == x && piece.y_coordinate == y %>
					    <%= content_tag :div, '', class: "shadow movable-chess-piece board-space-content #{piece.color}-#{piece.type.downcase}", data: { id: piece.id, type: piece.type } %>
					  <% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>

<%= render 'leave_game_confirmation_modal' %>
<%= render 'pieces/promotion_modal' %>
