<!DOCTYPE html>
<html>
  <head>
    <title>Chessapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
  </head>
  
  <body>
  
  <% if notice.present? %>
  	<p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
  	<p class="alert alert-danger"><%= alert %></p>
  <% end %>
  
  <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: "alert alert-#{type}" %>
  <% end %>
  
  <% if player_signed_in? %>
  	<li><%= link_to 'A player is signed in!', '#' %></li>
  <% else %>
  	<li><%= link_to 'No player is signed in :(', '#' %></li>
  <% end %>

    <%= yield %>
  </body>
</html>
